<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostFileFtp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ScannerFileName" value="BarCodes"/>
      <add key="LogMaxLines" value="1000"/>
    </appSettings>
    
    <userSettings>
        <PostFileFtp.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </PostFileFtp.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileLoader" />
                <binding name="BasicHttpsBinding_IFileLoader">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.mycustomerdata.com/MCDFileUploader/FileLoader.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileLoader"
                contract="MCDFileLoaderService.IFileLoader" name="BasicHttpBinding_IFileLoader" />
        </client>
    </system.serviceModel>
</configuration>